<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.nuc.dao.IDepartmentDao">
    
    <resultMap id="Department" type="com.nuc.model.Department">
        <result column="Ano" property="Ano"/>
        <result column="Aname" property="Aname"/>
        <result column="Atitle" property="Atitle"/>
    </resultMap>
    
    <!--根据账号获取个人信息 -->
    <select id="queryDepartmentByAno" parameterType="String" resultMap="Department">
     	select Ano, Aname, Atitle
     	from department
     	where Ano=#{Ano}
    </select>
    
    <!--根据账号获取账号密码 -->
    <select id="queryApasswordByAno" parameterType="String" resultType="String">
    	select Apassword 
    	from department 
    	where Ano=#{Ano}
    </select>
    
    <!--根据账号修改账号密码-->
    <update id="updatePasswordByAno">
    	update department
    	set Apassword = #{password}
    	where Ano = #{Ano}
  	</update>
</mapper>