table {
    margin-top: 20px;
    width: 900px;
    border: 3px solid #000;
    border-collapse: collapse;
}

table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.aol{
    background-color:#d4e3e5;
}
.asc{
    background-color:#c3dde0;
}